/****************************************************************************
 * Created by PhpStorm.
 * User: Jamison Peconi
 * Date: 2016-04-17
 * Assignment 9
 * Internet Programming 1
 *
 * This stylesheet contains styles for all the pages in this assignment. The
 * employee info page has been slightly modified so that the styles would be
 * compatible with that page as well.
 *****************************************************************************/

body {
    background-color: slategray;
}

#employeeArea {
    background-color: white;
    font-size: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#empTable {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-child(odd) {
    background-color: #DFDFE6;
}

th,td {
    width: 15%;
}

.empName {
    width: 45%;
}